<div class="container shadow p-2 mb-4 bg-body-tertiary rounded">
  <h2 class="text-center">Diretor</h2>
</div>
<div class="container shadow p-2 mb-4 bg-body-tertiary rounded">
  <%= render "form", director: @director %>
  <div class="mt-4">
    <%= link_to "Show this director", @director %> |
    <%= link_to "Back to directors", directors_path %>
  </div>
</div>